form {
    display: block;

    input {
        width: 100%;
        display: block;
        background-color: #f1f1f1;
        color: black;
        border: 2px soild black;
        border-radius: 10px;
    }

    .nextPage {
        width: 100%;
        border: 2px solid black;
        border-radius: 10px;

        margin-top: 20px;
    }
}


